{
  "openapi": "3.0.3",
  "info": {
    "version": "x.x",
    "title": "propFinder",
    "description": "propFinder is a real-estate web application that demonstrates the sustainability in municipalities of metropolitan area of Athens, based on open data.",
    "contact": {
      "name": "API Support",
      "email": "dkarras@propfinder.site"
    },
    "license": {
      "name": "This data is made available under the Open Data Commons Open Database License (ODbL).",
      "url": "http://opendatacommons.org/licenses/odbl/"
    }
  },
  "servers": [
    {
      "url": "https://propfinder.site/api",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "propFinder Application",
      "description": ""
    },
    {
      "name": "Open Data",
      "description": ""
    }
  ],
  "paths": {
    "/getFields/{field}": {
      "get": {
        "tags": [
          "propFinder Application"
        ],
        "summary": "",
        "description": "Returns the Municipalities of Athens with their unique path_id or the kind of schools.",
        "operationId": "GetFields",
        "parameters": [
          {
            "name": "field",
            "in": "path",
            "description": "The specified field we want",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "enum": [
                "municipalities",
                "schools"
              ]
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "success": true,
                        "data": {
                          "path3900": "Αθηναίων",
                          "path5722": "Αγίας Παρασκευής",
                          "path5609": "Αγίου Δημητρίου",
                          "path5792": "Χαϊδαρίου"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "success": true,
                        "data": [
                          "Γυμνάσια",
                          "Δημοτικά Σχολεία",
                          "Επαγγελματικά Λύκεια",
                          "Λύκεια",
                          "Νηπιαγωγεία",
                          "Σχολικό Εργαστηριακό Κέντρο"
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/municipalities/{path_id}": {
      "get": {
        "tags": [
          "propFinder Application"
        ],
        "summary": "",
        "description": "Returns the Municipality's general Info.",
        "operationId": "GetMunicipalityInfo",
        "parameters": [
          {
            "name": "path_id",
            "in": "path",
            "description": "The municipality's path Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "path3900"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "municipality": "Αθηναίων",
                      "sector": "Κεντρικός Τομέας",
                      "area": "39.0",
                      "price": "4,122.490",
                      "population": "643,452"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sustainability-results/{path_id}": {
      "post": {
        "tags": [
          "propFinder Application"
        ],
        "summary": "",
        "description": "Returns the indexes results the employee had chosen in conjunction with the final sustainability results.",
        "operationId": "SustainabilityResults",
        "parameters": [
          {
            "name": "path_id",
            "in": "path",
            "description": "The municipality's path Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "path3900"
            }
          }
        ],
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "formData": {
                    "type": "string",
                    "description": "JSON (Indexes with their current weights)",
                    "example": "{\"population\":0.4,\"pollution\":0.4,\"preSchool\":0.2,\"realEstate\":1}"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "example": [
                        {
                          "title": "Πληθυσμός",
                          "score": "0.35",
                          "percentage": 7
                        },
                        {
                          "title": "Ατμοσφαιρική ρύπανση",
                          "score": 4.16,
                          "percentage": 83.2
                        },
                        {
                          "title": "Νηπιαγωγεία",
                          "score": "4.65",
                          "percentage": 93
                        },
                        {
                          "title": "Ακίνητα",
                          "score": "1.88",
                          "percentage": 37.6
                        },
                        {
                          "title": "Δείκτης Βιωσιμότητας",
                          "score": "2.31",
                          "percentage": 46.2
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/municipality-results/{path_id}": {
      "get": {
        "tags": [
          "propFinder Application"
        ],
        "summary": "",
        "description": "Returns the Municipality's thorough results.",
        "operationId": "GetMunicipalityResults",
        "parameters": [
          {
            "name": "path_id",
            "in": "path",
            "description": "The municipality's path Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "path3900"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "O3Total": "36.27",
                      "NO2Total": "36.41",
                      "SO2Total": "0.00",
                      "PM25Total": "0.00",
                      "PM10Total": "0.00",
                      "populationTotal": {
                        "total": 2611713,
                        "variation": "-1.13"
                      },
                      "density": "16,499",
                      "criminalityTotal": {
                        "total": 77147,
                        "variation": "-14.55"
                      },
                      "realEstateTotal": {
                        "2010": "3,973.66",
                        "2011": "3,718.64",
                        "2012": "3,280.68",
                        "2013": "2,876.40",
                        "2014": "2,606.89",
                        "2015": "2,468.29",
                        "2016": "2,422.23",
                        "2017": "2,397.93",
                        "2018": "2,464.88",
                        "2019": "2,727.14",
                        "2020": "2,937.38",
                        "2021": "3,223.96",
                        "2022": "3,669.60",
                        "2023": "4,122.49"
                      },
                      "populationGender": {
                        "men": 310569,
                        "women": 332883
                      },
                      "subwayTotal": 29,
                      "taxiTotal": 46,
                      "busTotal": 1028,
                      "busDisabilityTotal": 153,
                      "preSchoolTotal": 148,
                      "primarySchoolTotal": 133,
                      "middleSchoolTotal": 51,
                      "highSchoolTotal": 42,
                      "vocationalHighSchoolTotal": 9,
                      "schoolLaboratoryCenterTotal": 2
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fetchRealEstateData": {
      "get": {
        "tags": [
          "Open Data"
        ],
        "summary": "Returns objective value of properties.",
        "description": "Returns all the real estate data from the database. Data derived from Ministry of Finance in conjunction with the information from the Bank of Greece.",
        "operationId": "GetRealEstateData",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": 2010
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "headers": [
                        "Δήμος",
                        "Τομέας",
                        "Τιμή (€/τ.μ.)"
                      ],
                      "values": [
                        {
                          "municipality": "Αθηναίων",
                          "sector": "Κεντρικός Τομέας",
                          "apartment_price": "3973.660"
                        },
                        {
                          "municipality": "Δάφνης - Υμηττού",
                          "sector": "Κεντρικός Τομέας",
                          "apartment_price": "2253.790"
                        },
                        {
                          "municipality": "Ηλιουπόλεως",
                          "sector": "Κεντρικός Τομέας",
                          "apartment_price": "1861.130"
                        },
                        {
                          "municipality": "Βύρωνος",
                          "sector": "Κεντρικός Τομέας",
                          "apartment_price": "1644.970"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fetchBankOfGreeceData": {
      "get": {
        "tags": [
          "Open Data"
        ],
        "summary": "Returns the Apartment Index Data.",
        "description": "Returns all the Bank of Greece's apartment index data from the database. Data derived from Bank of Greece.",
        "operationId": "GetBankOfGreeceData",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "year": 2010,
                        "quarter": 1,
                        "value": "96.00"
                      },
                      {
                        "year": 2010,
                        "quarter": 2,
                        "value": "94.80"
                      },
                      {
                        "year": 2010,
                        "quarter": 3,
                        "value": "91.10"
                      },
                      {
                        "year": 2010,
                        "quarter": 4,
                        "value": "90.80"
                      },
                      {
                        "year": 2011,
                        "quarter": 1,
                        "value": "90.00"
                      },
                      {
                        "year": 2011,
                        "quarter": 2,
                        "value": "88.30"
                      },
                      {
                        "year": 2011,
                        "quarter": 3,
                        "value": "87.00"
                      },
                      {
                        "year": 2011,
                        "quarter": 4,
                        "value": "83.50"
                      },
                      {
                        "year": 2012,
                        "quarter": 1,
                        "value": "80.90"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fetchPopulationData": {
      "get": {
        "tags": [
          "Open Data"
        ],
        "summary": "Returns the Population data.",
        "description": "Returns all the Population data of municipalities from the database either per year or per municipality. Data derived from census reports of Hellenic Statistic Authority.",
        "operationId": "GetPopulationData",
        "security": [],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                2011,
                2021
              ]
            }
          },
          {
            "name": "municipality",
            "in": "query",
            "required": true,
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "Αγίας Βαρβάρας",
                "Αγίας Παρασκευής",
                "Αγίου Δημητρίου",
                "Αγίων Αναργύρων - Καματερού",
                "Αθηναίων",
                "Αιγάλεω",
                "Αλίμου",
                "Αμαρουσίου",
                "Βριλησσίων",
                "Βύρωνος",
                "Γαλατσίου",
                "Γλυφάδας",
                "Δάφνης - Υμηττού",
                "Ελληνικού - Αργυρούπολης",
                "Ζωγράφου",
                "Ηλιουπόλεως",
                "Ηρακλείου Αττικής",
                "Ιλίου (Νέων Λοσίων)",
                "Καισαριανής",
                "Καλλιθέας",
                "Κηφισιάς",
                "Λυκόβρυσης - Πεύκης",
                "Μεταμόρφωσης",
                "Μοσχάτου - Ταύρου",
                "Νέας Ιονίας",
                "Νέας Σμύρνης",
                "Νέας Φιλαδέλφειας - Νέας Χαλκιδόνας",
                "Παλαιού Φαλήρου",
                "Παπάγου - Χολαργού",
                "Πεντέλης",
                "Περιστερίου",
                "Πετρουπόλεως",
                "Φιλοθέης - Ψυχικού",
                "Χαλανδρίου",
                "Χαϊδαρίου"
              ],
              "example": "Αθηναίων"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "success": true,
                        "data": [
                          {
                            "municipality_id": 1,
                            "year": "2011",
                            "men": 315210,
                            "women": 348836
                          },
                          {
                            "municipality_id": 1,
                            "year": "2021",
                            "men": 310569,
                            "women": 332883
                          }
                        ]
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "success": true,
                        "data": [
                          {
                            "population": 643452,
                            "municipality": "Αθηναίων"
                          },
                          {
                            "population": 33886,
                            "municipality": "Δάφνης - Υμηττού"
                          },
                          {
                            "population": 76730,
                            "municipality": "Ηλιουπόλεως"
                          },
                          {
                            "population": 59134,
                            "municipality": "Βύρωνος"
                          },
                          {
                            "population": 26269,
                            "municipality": "Καισαριανής"
                          },
                          {
                            "population": 69874,
                            "municipality": "Ζωγράφου"
                          },
                          {
                            "population": 57909,
                            "municipality": "Γαλατσίου"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fetchCriminalityData": {
      "get": {
        "tags": [
          "Open Data"
        ],
        "summary": "Returns Criminality Data.",
        "description": "Returns Criminality Data depending the query attributes (5 cases) for the Region of Attica. Data derived from the Ministry of Civil Protection.",
        "operationId": "GetCriminality",
        "security": [],
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "buildings",
                "vehicles",
                "heists"
              ]
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018,
                2019
              ]
            }
          },
          {
            "name": "criminality",
            "in": "query",
            "required": true,
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Κλοπές - Διαρρήξεις"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "?data=all&year=2010",
                      "example": {
                        "success": true,
                        "data": {
                          "headers": [
                            "Τύπος Εγκλήματος",
                            "Αριθμός Εγκλημάτων"
                          ],
                          "values": [
                            {
                              "type": "Ανθρωποκτονίες",
                              "number_of_crimes": 82
                            },
                            {
                              "type": "Απάτες",
                              "number_of_crimes": 1332
                            },
                            {
                              "type": "Αποπλανήσεις",
                              "number_of_crimes": null
                            },
                            {
                              "type": "Αρχαιοκαπηλεία",
                              "number_of_crimes": 23
                            },
                            {
                              "type": "Βιασμοί",
                              "number_of_crimes": 85
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "?data=all&criminality=Αρχαιοκαπηλεία",
                      "example": {
                        "success": true,
                        "data": [
                          {
                            "year": "2010",
                            "number_of_crimes": 23
                          },
                          {
                            "year": "2011",
                            "number_of_crimes": 16
                          },
                          {
                            "year": "2012",
                            "number_of_crimes": 13
                          },
                          {
                            "year": "2013",
                            "number_of_crimes": 14
                          }
                        ]
                      }
                    },
                    {
                      "type": "object",
                      "description": "data=buildings&year=2010",
                      "example": {
                        "success": true,
                        "data": [
                          {
                            "type": "Κλοπές - Διαρρήξεις από ιχε αυτ/τα",
                            "year": "2010",
                            "number_of_crimes": 17950
                          },
                          {
                            "type": "Κλοπές - Διαρρήξεις ιερών ναών",
                            "year": "2010",
                            "number_of_crimes": 57
                          },
                          {
                            "type": "Κλοπές - Διαρρήξεις καταστημάτων",
                            "year": "2010",
                            "number_of_crimes": 6457
                          }
                        ]
                      }
                    },
                    {
                      "type": "object",
                      "description": "?data=vehicles&year=2010",
                      "example": {
                        "success": true,
                        "data": [
                          {
                            "type": "Κλοπές Τροχοφόρων ΙΧΕ αυτ/των",
                            "year": "2010",
                            "number_of_crimes": 6977
                          },
                          {
                            "type": "Κλοπές Τροχοφόρων ΙΧΦ-Λεωφορείων",
                            "year": "2010",
                            "number_of_crimes": 1106
                          },
                          {
                            "type": "Κλοπές Τροχοφόρων Λοιπών οχημάτων",
                            "year": "2010",
                            "number_of_crimes": 385
                          },
                          {
                            "type": "Κλοπές Τροχοφόρων Μοτοποδηλάτων",
                            "year": "2010",
                            "number_of_crimes": 1336
                          },
                          {
                            "type": "Κλοπές Τροχοφόρων Μοτοσυκλετών",
                            "year": "2010",
                            "number_of_crimes": 6400
                          }
                        ]
                      }
                    },
                    {
                      "type": "object",
                      "description": "?data=heists&year=2010",
                      "example": {
                        "success": true,
                        "data": [
                          {
                            "type": "Ληστείες Δ.Ο.Υ.",
                            "year": "2010",
                            "number_of_crimes": 16
                          },
                          {
                            "type": "Ληστείες εντός καταστημάτων",
                            "year": "2010",
                            "number_of_crimes": 336
                          },
                          {
                            "type": "Ληστείες εντός οικιών",
                            "year": "2010",
                            "number_of_crimes": 268
                          },
                          {
                            "type": "Ληστείες κινητών τηλεφώνων-μικροποσών",
                            "year": "2010",
                            "number_of_crimes": 1233
                          },
                          {
                            "type": "Ληστείες λοιπές",
                            "year": "2010",
                            "number_of_crimes": 1243
                          },
                          {
                            "type": "Ληστείες με αρπαγή τσάντας",
                            "year": "2010",
                            "number_of_crimes": 546
                          },
                          {
                            "type": "Ληστείες οδηγών ταξί",
                            "year": "2010",
                            "number_of_crimes": 64
                          },
                          {
                            "type": "Ληστείες πρατηρίων υγρών καυσίμων",
                            "year": "2010",
                            "number_of_crimes": 84
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fetchSchoolData": {
      "post": {
        "tags": [
          "Open Data"
        ],
        "summary": "Returns School Data.",
        "description": "Returns all the School Data (with Pagination) from the metropolitan region of Athens. Open Data derived from Open Data catalogue of Greece 'repository.data.gov.gr'.",
        "operationId": "SchoolData",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagination's page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "municipality": {
                    "description": "The name of the municipality.",
                    "type": "string",
                    "enum": [
                      "Όλα",
                      "Αγίας Βαρβάρας",
                      "Αγίας Παρασκευής",
                      "Αγίου Δημητρίου",
                      "Αγίων Αναργύρων - Καματερού",
                      "Αθηναίων",
                      "Αιγάλεω",
                      "Αλίμου",
                      "Αμαρουσίου",
                      "Βριλησσίων",
                      "Βύρωνος",
                      "Γαλατσίου",
                      "Γλυφάδας",
                      "Δάφνης - Υμηττού",
                      "Ελληνικού - Αργυρούπολης",
                      "Ζωγράφου",
                      "Ηλιουπόλεως",
                      "Ηρακλείου Αττικής",
                      "Ιλίου (Νέων Λοσίων)",
                      "Καισαριανής",
                      "Καλλιθέας",
                      "Κηφισιάς",
                      "Λυκόβρυσης - Πεύκης",
                      "Μεταμόρφωσης",
                      "Μοσχάτου - Ταύρου",
                      "Νέας Ιονίας",
                      "Νέας Σμύρνης",
                      "Νέας Φιλαδέλφειας - Νέας Χαλκιδόνας",
                      "Παλαιού Φαλήρου",
                      "Παπάγου - Χολαργού",
                      "Πεντέλης",
                      "Περιστερίου",
                      "Πετρουπόλεως",
                      "Φιλοθέης - Ψυχικού",
                      "Χαλανδρίου",
                      "Χαϊδαρίου"
                    ]
                  },
                  "kind": {
                    "description": "The type of the education institution.",
                    "type": "string",
                    "enum": [
                      "Γυμνάσια",
                      "Δημοτικά Σχολεία",
                      "Επαγγελματικά Λύκεια",
                      "Λύκεια",
                      "Νηπιαγωγεία",
                      "Σχολικό Εργαστηριακό Κέντρο"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "current_page": 1,
                    "data": {
                      "headers": [
                        "Όνομα",
                        "Είδος",
                        "Τύπος",
                        "Τηλέφωνο",
                        "Φαξ",
                        "Email",
                        "Δήμος",
                        "Διεύθυνση",
                        "Τ.Κ."
                      ],
                      "values": [
                        {
                          "name": "3ο ΗΜΕΡΗΣΙΟ ΓΕΝΙΚΟ ΛΥΚΕΙΟ ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Λύκεια",
                          "type": "Ημερήσιο Γενικό Λύκειο",
                          "phone": "2106016531",
                          "fax": "2106007797",
                          "email": "mail@3lyk-ag-parask.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΧΡΥΣ. ΣΜΥΡΝΗΣ ΚΑΙ ΠΛΑΤΑΙΩΝ",
                          "post_code": "15343"
                        },
                        {
                          "name": "2ο ΗΜΕΡΗΣΙΟ ΓΕΝΙΚΟ ΛΥΚΕΙΟ ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Λύκεια",
                          "type": "Ημερήσιο Γενικό Λύκειο",
                          "phone": "2106081953",
                          "fax": "2106016464",
                          "email": "mail@2lyk-ag-parask.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΥΑΚΙΝΘΟΥ 25",
                          "post_code": "15343"
                        },
                        {
                          "name": "3ο ΗΜΕΡΗΣΙΟ ΓΥΜΝΑΣΙΟ ΑΓ. ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Γυμνάσια",
                          "type": "Ημερήσιο Γυμνάσιο",
                          "phone": "2106390261",
                          "fax": "2106084329",
                          "email": "3gymagpa@sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΔΕΡΒΕΝΑΚΙΩΝ ΚΑΙ Σ.ΚΑΡΑΓΙΩΡΓΑ",
                          "post_code": "15343"
                        },
                        {
                          "name": "ΓΕΛ ΚΩΦΩΝ & ΒΑΡΗΚΟΩΝ ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Γυμνάσια",
                          "type": "Γυμνάσιο Ειδικής Αγωγής με Λυκειακές Τάξεις",
                          "phone": "2106012922",
                          "fax": "2106012922",
                          "email": "mail@lyk-ekv-ag-parask.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΠΙΝΔΟΥ 27",
                          "post_code": "15343"
                        },
                        {
                          "name": "1ο ΗΜΕΡΗΣΙΟ ΓΥΜΝΑΣΙΟ ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Γυμνάσια",
                          "type": "Ημερήσιο Γυμνάσιο",
                          "phone": "2106549970",
                          "fax": "2106545429",
                          "email": "mail@1gym-ag-parask.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΑΙΤΩΛΙΑΣ 31",
                          "post_code": "15341"
                        },
                        {
                          "name": "2ο  ΗΜΕΡΗΣΙΟ  ΓΥΜΝΑΣΙΟ  ΑΓΙΑΣ  ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Γυμνάσια",
                          "type": "Ημερήσιο Γυμνάσιο",
                          "phone": "2106080176",
                          "fax": "2106016113",
                          "email": "mail@2gym-ag-parask.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΝΕΑΠΟΛΕΩΣ 7",
                          "post_code": "15341"
                        },
                        {
                          "name": "5ο ΗΜΕΡΗΣΙΟ ΓΥΜΝΑΣΙΟ ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Γυμνάσια",
                          "type": "Ημερήσιο Γυμνάσιο",
                          "phone": "2106528894",
                          "fax": "2106528894",
                          "email": "mail@5gym-ag-parask.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΚΑΡΑΪΣΚΑΚΗ 75",
                          "post_code": "15341"
                        },
                        {
                          "name": "1ο ΗΜΕΡΗΣΙΟ ΓΕΝΙΚΟ ΛΥΚΕΙΟ ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Λύκεια",
                          "type": "Ημερήσιο Γενικό Λύκειο",
                          "phone": "2106012959",
                          "fax": "2106002277",
                          "email": "mail@1lyk-ag-parask.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΝΕΑΠΟΛΕΩΣ 5",
                          "post_code": "15341"
                        },
                        {
                          "name": "4ο ΗΜΕΡΗΣΙΟ ΓΕΝΙΚΟ ΛΥΚΕΙΟ ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Λύκεια",
                          "type": "Ημερήσιο Γενικό Λύκειο",
                          "phone": "2106531298",
                          "fax": "2106531293",
                          "email": "mail@4lyk-ag-parask.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΠΑΠΑΝΤΩΝΙΟΥ 13",
                          "post_code": "15341"
                        },
                        {
                          "name": "1ο ΕΚ ΑΓ. ΠΑΡΑΣΚΕΥΗΣ",
                          "kind": "Σχολικό Εργαστηριακό Κέντρο",
                          "type": "ΣΕΚ",
                          "phone": "2106016586",
                          "fax": "2106082642",
                          "email": "mail@1sek-v-athin.att.sch.gr",
                          "municipality": "Αγίας Παρασκευής",
                          "address": "ΜΕΣΟΓΕΙΩΝ 463",
                          "post_code": "15343"
                        }
                      ]
                    },
                    "first_page_url": "http://propfinder.test/api/fetchSchoolData?page=1",
                    "from": 1,
                    "last_page": 184,
                    "last_page_url": "http://propfinder.test/api/fetchSchoolData?page=184",
                    "links": [
                      {
                        "url": null,
                        "label": "&laquo; Previous",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=1",
                        "label": "1",
                        "active": true
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=2",
                        "label": "2",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=3",
                        "label": "3",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=4",
                        "label": "4",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=5",
                        "label": "5",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=6",
                        "label": "6",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=7",
                        "label": "7",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=8",
                        "label": "8",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=9",
                        "label": "9",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=10",
                        "label": "10",
                        "active": false
                      },
                      {
                        "url": null,
                        "label": "...",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=183",
                        "label": "183",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=184",
                        "label": "184",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchSchoolData?page=2",
                        "label": "Next &raquo;",
                        "active": false
                      }
                    ],
                    "next_page_url": "http://propfinder.test/api/fetchSchoolData?page=2",
                    "path": "http://propfinder.test/api/fetchSchoolData",
                    "per_page": 10,
                    "prev_page_url": null,
                    "to": 2,
                    "total": 1837
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchTransData": {
      "post": {
        "tags": [
          "Open Data"
        ],
        "summary": "Returns Transportation Data.",
        "description": "Returns all the Transportation Data (with Pagination) for the metropolitan area of Athens. Data derived from 'O2Hub Open data platform' and from 'ChoiceGreece' (for subway stations).",
        "operationId": "TransportationData",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagination's page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "municipality": {
                    "description": "The name of the municipality.",
                    "type": "string",
                    "enum": [
                      "Όλα",
                      "Αγίας Βαρβάρας",
                      "Αγίας Παρασκευής",
                      "Αγίου Δημητρίου",
                      "Αγίων Αναργύρων - Καματερού",
                      "Αθηναίων",
                      "Αιγάλεω",
                      "Αλίμου",
                      "Αμαρουσίου",
                      "Βριλησσίων",
                      "Βύρωνος",
                      "Γαλατσίου",
                      "Γλυφάδας",
                      "Δάφνης - Υμηττού",
                      "Ελληνικού - Αργυρούπολης",
                      "Ζωγράφου",
                      "Ηλιουπόλεως",
                      "Ηρακλείου Αττικής",
                      "Ιλίου (Νέων Λοσίων)",
                      "Καισαριανής",
                      "Καλλιθέας",
                      "Κηφισιάς",
                      "Λυκόβρυσης - Πεύκης",
                      "Μεταμόρφωσης",
                      "Μοσχάτου - Ταύρου",
                      "Νέας Ιονίας",
                      "Νέας Σμύρνης",
                      "Νέας Φιλαδέλφειας - Νέας Χαλκιδόνας",
                      "Παλαιού Φαλήρου",
                      "Παπάγου - Χολαργού",
                      "Πεντέλης",
                      "Περιστερίου",
                      "Πετρουπόλεως",
                      "Φιλοθέης - Ψυχικού",
                      "Χαλανδρίου",
                      "Χαϊδαρίου"
                    ]
                  },
                  "trans": {
                    "description": "The mean of transportation.",
                    "type": "string",
                    "enum": [
                      "Στάσεις",
                      "Στάσεις με Μπάρα",
                      "Ταξί",
                      "Μετρό"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "current_page": 1,
                    "data": {
                      "headers": [
                        "Κωδικός Στάσης",
                        "Περιγραφή",
                        "Οδός",
                        "Είδος",
                        "Στοιχεία ΟΑΣΑ",
                        "Δήμος"
                      ],
                      "values": [
                        {
                          "stop_code": "10003",
                          "stop_description": "ΑΓ. ΒΑΡΒΑΡΑ",
                          "stop_street": "ΛΕΩΦ.ΕΛ.ΒΕΝΙΖΕΛΟΥ",
                          "stoptyp_code": "ΕΞΥΠΝΗ ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10003",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10004",
                          "stop_description": "ΔΗΜΑΡΧΕΙΟ",
                          "stop_street": "ΗΠΕΙΡΟΥ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10004",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10005",
                          "stop_description": "ΚΡΗΤΗΣ",
                          "stop_street": "ΠΑΛΑΙΩΝ ΠΟΛΕΜΙΣΤΩΝ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10005",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10006",
                          "stop_description": "ΚΟΥΝΤΟΥΡΙΩΤΟΥ",
                          "stop_street": "ΠΑΛΑΙΩΝ ΠΟΛΕΜΙΣΤΩΝ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10006",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10007",
                          "stop_description": "ΔΗΜΑΡΧΕΙΟ - ΣΤ. ΑΓ. ΒΑΡΒΑΡΑ",
                          "stop_street": "ΛΕΩΦ.ΕΛ.ΒΕΝΙΖΕΛΟΥ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10007",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10008",
                          "stop_description": "1η ΑΓ. ΜΑΡΙΝΑΣ",
                          "stop_street": "ΑΓ. ΜΑΡΙΝΑΣ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10008",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10011",
                          "stop_description": "ΘΕΜΙΣΤΟΚΛΕΟΥΣ",
                          "stop_street": "ΠΑΛ.ΠΑΤΡΩΝ ΓΕΡMΑΝΟΥ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10011",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10012",
                          "stop_description": "ΠΑΛ. ΤΕΡΜΑ",
                          "stop_street": "ΠΑΛ.ΠΑΤΡΩΝ ΓΕΡMΑΝΟΥ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10012",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10013",
                          "stop_description": "ΜΕΓ. ΑΛΕΞΑΝΔΡΟΥ",
                          "stop_street": "ΛΕΩΦ.ΜΕΓ.ΑΛΕΞΑΝΔΡΟΥ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10013",
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "stop_code": "10014",
                          "stop_description": "ΑΦΕΤΗΡΙΑ 837",
                          "stop_street": "ΠΑΛ.ΠΑΤΡΩΝ ΓΕΡΜΑΝΟΥ",
                          "stoptyp_code": "ΣΤΑΣΗ",
                          "stop_url": "http://telematics.oasa.gr/#stationInfo_10014",
                          "municipality": "Αγίας Βαρβάρας"
                        }
                      ]
                    },
                    "first_page_url": "http://propfinder.test/api/fetchTransData?page=1",
                    "from": 1,
                    "last_page": 501,
                    "last_page_url": "http://propfinder.test/api/fetchTransData?page=501",
                    "links": [
                      {
                        "url": null,
                        "label": "&laquo; Previous",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=1",
                        "label": "1",
                        "active": true
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=2",
                        "label": "2",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=3",
                        "label": "3",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=4",
                        "label": "4",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=5",
                        "label": "5",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=6",
                        "label": "6",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=7",
                        "label": "7",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=8",
                        "label": "8",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=9",
                        "label": "9",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=10",
                        "label": "10",
                        "active": false
                      },
                      {
                        "url": null,
                        "label": "...",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=500",
                        "label": "500",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=501",
                        "label": "501",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchTransData?page=2",
                        "label": "Next &raquo;",
                        "active": false
                      }
                    ],
                    "next_page_url": "http://propfinder.test/api/fetchTransData?page=2",
                    "path": "http://propfinder.test/api/fetchTransData",
                    "per_page": 10,
                    "prev_page_url": null,
                    "to": 2,
                    "total": 5009
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchOtherData": {
      "post": {
        "tags": [
          "Open Data"
        ],
        "summary": "Returns the Secondary Data",
        "description": "Returns the Secondary Data (with Pagination). Open data from 'Region of Attica site' & 'Open Data portal of Region of Attica'.",
        "operationId": "OtherData",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagination's page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "municipality": {
                    "description": "The name of the municipality.",
                    "type": "string",
                    "enum": [
                      "Όλα",
                      "Αγίας Βαρβάρας",
                      "Αγίας Παρασκευής",
                      "Αγίου Δημητρίου",
                      "Αγίων Αναργύρων - Καματερού",
                      "Αθηναίων",
                      "Αιγάλεω",
                      "Αλίμου",
                      "Αμαρουσίου",
                      "Βριλησσίων",
                      "Βύρωνος",
                      "Γαλατσίου",
                      "Γλυφάδας",
                      "Δάφνης - Υμηττού",
                      "Ελληνικού - Αργυρούπολης",
                      "Ζωγράφου",
                      "Ηλιουπόλεως",
                      "Ηρακλείου Αττικής",
                      "Ιλίου (Νέων Λοσίων)",
                      "Καισαριανής",
                      "Καλλιθέας",
                      "Κηφισιάς",
                      "Λυκόβρυσης - Πεύκης",
                      "Μεταμόρφωσης",
                      "Μοσχάτου - Ταύρου",
                      "Νέας Ιονίας",
                      "Νέας Σμύρνης",
                      "Νέας Φιλαδέλφειας - Νέας Χαλκιδόνας",
                      "Παλαιού Φαλήρου",
                      "Παπάγου - Χολαργού",
                      "Πεντέλης",
                      "Περιστερίου",
                      "Πετρουπόλεως",
                      "Φιλοθέης - Ψυχικού",
                      "Χαλανδρίου",
                      "Χαϊδαρίου"
                    ]
                  },
                  "other": {
                    "description": "The type of data",
                    "type": "string",
                    "enum": [
                      "Θερμαινόμενοι χώροι",
                      "Κλιματιζόμενοι χώροι",
                      "Κέντρα Δημιουργικής Απασχόλησης Παίδων",
                      "Κέντρα Δημιουργικής Απασχόλησης Παίδων με Αναπηρία",
                      "Κέντρα Φροντίδας Ηλικιωμένων",
                      "Κέντρα Αποθεραπείας - Αποκατάστασης"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "current_page": 1,
                    "data": {
                      "headers": [
                        "Κτήριο",
                        "Οδός",
                        "Τηλέφωνο",
                        "Ωράριο Λειτουργίας",
                        "Δήμος"
                      ],
                      "values": [
                        {
                          "building": "Κ.Η.Φ.Η (Κέντρο Ημερήσιας Φροντίδας Ηλικιωμένων) ",
                          "address": "ΣΙΠΥΛΟΥ 16, ΑΓΙΑ ΒΑΡΒΑΡΑ",
                          "phone": null,
                          "time": null,
                          "municipality": "Αγίας Βαρβάρας"
                        },
                        {
                          "building": "ΔΗΜΟΤΙΚΟ ΚΤΙΡΙΟ ΚΑΜΑΤΕΡΟΥ",
                          "address": "ΠΑΡΟΥ 2Α, ΚΑΜΑΤΕΡΟ",
                          "phone": null,
                          "time": "ΑΝΟΙΚΤΟ 24 ΏΡΕΣ",
                          "municipality": "Αγίων Αναργύρων - Καματερού"
                        },
                        {
                          "building": "Α' ΚΑΠΗ (ΑΓ ΑΝΑΡΓΥΡΩΝ)",
                          "address": "Ν. ΠΛΑΣΤΗΡΑ ΚΑΙ ΚΛΕΙΣΟΥΡΑΣ 2, ΑΓ. ΑΝΑΡΓΥΡΟΙ",
                          "phone": "210 2690170",
                          "time": "08:00-20:00",
                          "municipality": "Αγίων Αναργύρων - Καματερού"
                        },
                        {
                          "building": "ΚΕΝΤΡΙΚΟ ΚΑΠΗ (ΚΑΜΑΤΕΡΟΥ)",
                          "address": "ΘΕΣΣΑΛΟΝΙΚΗΣ 36 & Β. ΓΕΩΡΓΙΟΥ 13, ΚΑΜΑΤΕΡΟ",
                          "phone": "213 2039946",
                          "time": "08:00-20:00",
                          "municipality": "Αγίων Αναργύρων - Καματερού"
                        },
                        {
                          "building": "ΔΗΜΑΡΧΕΙΟ ΑΙΓΑΛΕΩ",
                          "address": "ΙΕΡΑ ΟΔΟΣ 364, ΑΙΓΑΛΕΩ",
                          "phone": "213 2044800",
                          "time": "ΚΑΘΗΜΕΡΙΝΑ 07:00-22:00",
                          "municipality": "Αιγάλεω"
                        },
                        {
                          "building": "ΠΟΛΙΤΙΣΤΙΚΟ ΚΕΝΤΡΟ «ΓΙΑΝΝΗΣ ΡΙΤΣΟΣ»",
                          "address": "ΔΗΜΑΡΧΕΙΟΥ 17 ΚΑΙ ΚΟΥΝΤΟΥΡΙΩΤΟΥ, ΑΙΓΑΛΕΩ",
                          "phone": "210 5907060, 210 5310542",
                          "time": "ΔΕΥΤΕΡΑ-ΠΕΜΠΤΗ 08:00-20:00 ΠΑΡΑΣΚΕΥΗ 08:00-14:30 ",
                          "municipality": "Αιγάλεω"
                        },
                        {
                          "building": "ΑΙΘΟΥΣΑ ΠΡΟΣΩΠΙΚΟΥ ΤΗΣ ΔΝΣΗΣ ΔΙΑΧΕΙΡΙΣΗΣ ΑΠΟΡΡΙΜΑΤΩΝ ΚΑΙ ΠΡΑΣΙΝΟΥ",
                          "address": "ΜΠΙΜΠΙΖΑ 1, ΙΛΙΟΝ",
                          "phone": "210 2632369",
                          "time": null,
                          "municipality": "Ιλίου (Νέων Λοσίων)"
                        },
                        {
                          "building": "ΔΗΜΑΡΧΕΙΟ - ΑΙΘΟΥΣΑ ΕΚΔΗΛΩΣΕΩΝ",
                          "address": "ΚΑΛΧΟΥ 48-50, ΙΛΙΟΝ",
                          "phone": "213 2030187",
                          "time": null,
                          "municipality": "Ιλίου (Νέων Λοσίων)"
                        },
                        {
                          "building": "ΚΕΝΤΡΟ ΦΙΛΙΑΣ (ΚΕ.ΦΙ.)",
                          "address": "ΒΑΡΝΑΛΗ - ΡΑΙΔΕΣΤΟΥ, ΠΕΡΙΣΤΕΡΙ",
                          "phone": "2105740590",
                          "time": null,
                          "municipality": "Περιστερίου"
                        },
                        {
                          "building": "ΚΕΝΤΡΟ ΦΙΛΙΑΣ (ΚΕ.ΦΙ.)",
                          "address": "ΑΓΙΟΥ ΙΕΡΟΘΕΟΥ 142, ΠΕΡΙΣΤΕΡΙ ",
                          "phone": "2105777102",
                          "time": null,
                          "municipality": "Περιστερίου"
                        }
                      ]
                    },
                    "first_page_url": "http://propfinder.test/api/fetchOtherData?page=1",
                    "from": 1,
                    "last_page": 6,
                    "last_page_url": "http://propfinder.test/api/fetchOtherData?page=6",
                    "links": [
                      {
                        "url": null,
                        "label": "&laquo; Previous",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchOtherData?page=1",
                        "label": "1",
                        "active": true
                      },
                      {
                        "url": "http://propfinder.test/api/fetchOtherData?page=2",
                        "label": "2",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchOtherData?page=3",
                        "label": "3",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchOtherData?page=4",
                        "label": "4",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchOtherData?page=5",
                        "label": "5",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchOtherData?page=6",
                        "label": "6",
                        "active": false
                      },
                      {
                        "url": "http://propfinder.test/api/fetchOtherData?page=2",
                        "label": "Next &raquo;",
                        "active": false
                      }
                    ],
                    "next_page_url": "http://propfinder.test/api/fetchOtherData?page=2",
                    "path": "http://propfinder.test/api/fetchOtherData",
                    "per_page": 10,
                    "prev_page_url": null,
                    "to": 2,
                    "total": 57
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchAirPollutionData": {
      "post": {
        "tags": [
          "Open Data"
        ],
        "summary": "Returns Air Pollution Data.",
        "description": "Open Data for Air Pollution Data from the Ministry of Environment of Greece. There are data for only 6 municipalities of the metropolitan region of Athens.",
        "operationId": "AirPollutionData",
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "municipality": {
                    "description": "The name of the municipality.",
                    "type": "string",
                    "enum": [
                      "Αγίας Παρασκευής",
                      "Αθηναίων",
                      "Αμαρουσίου",
                      "Λυκόβρυσης - Πεύκης",
                      "Νέας Σμύρνης",
                      "Περιστερίου"
                    ]
                  },
                  "pollution": {
                    "description": "The type of the pollutant",
                    "type": "string",
                    "enum": [
                      "Μονοξείδιο του Αζώτου",
                      "Διοξείδιο του Αζώτου",
                      "Όζον",
                      "Μονοξείδιο του Άνθρακα",
                      "Διοξείδιο του Θείου",
                      "Μικροσωματίδια PM10",
                      "Μικροσωματίδια PM2.5"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "example": [
                    {
                      "year": 2010,
                      "quarter": 1,
                      "value": 48.27211576119246
                    },
                    {
                      "year": 2010,
                      "quarter": 2,
                      "value": 74.30145202020209
                    },
                    {
                      "year": 2010,
                      "quarter": 3,
                      "value": 82.29452034041556
                    },
                    {
                      "year": 2010,
                      "quarter": 4,
                      "value": 36.630908289241574
                    },
                    {
                      "year": 2011,
                      "quarter": 1,
                      "value": 42.47349007675097
                    },
                    {
                      "year": 2011,
                      "quarter": 2,
                      "value": 77.87861359291432
                    },
                    {
                      "year": 2011,
                      "quarter": 3,
                      "value": 94.46578557312262
                    },
                    {
                      "year": 2011,
                      "quarter": 4,
                      "value": 43.2078804347826
                    },
                    {
                      "year": 2012,
                      "quarter": 1,
                      "value": 45.98204512878424
                    },
                    {
                      "year": 2012,
                      "quarter": 2,
                      "value": 84.51714046822747
                    },
                    {
                      "year": 2012,
                      "quarter": 3,
                      "value": 86.86635554505368
                    },
                    {
                      "year": 2012,
                      "quarter": 4,
                      "value": 42.84102792632208
                    },
                    {
                      "year": 2013,
                      "quarter": 1,
                      "value": 41.211940031045366
                    },
                    {
                      "year": 2013,
                      "quarter": 2,
                      "value": 79.33380827247282
                    },
                    {
                      "year": 2013,
                      "quarter": 3,
                      "value": 94.18466031897698
                    },
                    {
                      "year": 2013,
                      "quarter": 4,
                      "value": 43.517210144927574
                    },
                    {
                      "year": 2014,
                      "quarter": 1,
                      "value": 47.18248469348215
                    },
                    {
                      "year": 2014,
                      "quarter": 2,
                      "value": 75.96266671924582
                    },
                    {
                      "year": 2014,
                      "quarter": 3,
                      "value": 77.88184506231735
                    },
                    {
                      "year": 2014,
                      "quarter": 4,
                      "value": 42.08590256153973
                    },
                    {
                      "year": 2015,
                      "quarter": 1,
                      "value": 48.46325147611381
                    },
                    {
                      "year": 2015,
                      "quarter": 2,
                      "value": 81.46217199254296
                    },
                    {
                      "year": 2015,
                      "quarter": 3,
                      "value": 83.92325790151861
                    },
                    {
                      "year": 2015,
                      "quarter": 4,
                      "value": 38.74279479578391
                    },
                    {
                      "year": 2016,
                      "quarter": 1,
                      "value": 49.40703209833644
                    },
                    {
                      "year": 2016,
                      "quarter": 2,
                      "value": 76.35992377188036
                    },
                    {
                      "year": 2016,
                      "quarter": 3,
                      "value": 89.10985449735443
                    },
                    {
                      "year": 2016,
                      "quarter": 4,
                      "value": 43.06031837360948
                    },
                    {
                      "year": 2017,
                      "quarter": 1,
                      "value": 54.694150044428234
                    },
                    {
                      "year": 2017,
                      "quarter": 2,
                      "value": 76.3056563002216
                    },
                    {
                      "year": 2017,
                      "quarter": 3,
                      "value": 97.73054029304015
                    },
                    {
                      "year": 2017,
                      "quarter": 4,
                      "value": 49.478851010100925
                    },
                    {
                      "year": 2018,
                      "quarter": 1,
                      "value": 50.57016070945213
                    },
                    {
                      "year": 2018,
                      "quarter": 2,
                      "value": 81.82018292266736
                    },
                    {
                      "year": 2018,
                      "quarter": 3,
                      "value": 89.21629901960786
                    },
                    {
                      "year": 2018,
                      "quarter": 4,
                      "value": 40.20487918272648
                    },
                    {
                      "year": 2019,
                      "quarter": 1,
                      "value": 54.205312407898596
                    },
                    {
                      "year": 2019,
                      "quarter": 2,
                      "value": 76.7894195578975
                    },
                    {
                      "year": 2019,
                      "quarter": 3,
                      "value": 98.22164451064697
                    },
                    {
                      "year": 2019,
                      "quarter": 4,
                      "value": 40.313063076547856
                    },
                    {
                      "year": 2021,
                      "quarter": 1,
                      "value": 49.489540330844676
                    },
                    {
                      "year": 2021,
                      "quarter": 2,
                      "value": 78.82218506131558
                    },
                    {
                      "year": 2021,
                      "quarter": 3,
                      "value": 90.60448530675394
                    },
                    {
                      "year": 2021,
                      "quarter": 4,
                      "value": 46.350679271106976
                    },
                    {
                      "year": 2022,
                      "quarter": 1,
                      "value": 52.73988900391073
                    },
                    {
                      "year": 2022,
                      "quarter": 2,
                      "value": 81.93788018399817
                    },
                    {
                      "year": 2022,
                      "quarter": 3,
                      "value": 81.19391344783322
                    },
                    {
                      "year": 2022,
                      "quarter": 4,
                      "value": 39.200910634716195
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}